@font-face {
  font-family: "Plopsec";
  src: url('../fonts/plopsec.ttf');
}

h1 {
  font-family: "Plopsec";
  font-size: 3em;
}

h4 {
    margin-left: 0.8em;
}

h5 {
  margin-left: 1.5em;
}

body {
  color: #333;
  background-color: #3b3939;
}

body a {
  color: #ff7100;
  font-weight: bold;
  text-decoration: none;
}

body a:hover {
  text-decoration: underline;
}

body a:visited {
  color: #ff7100;
  font-weight: bold;
  text-decoration: none;
}

p {
  text-align: justify;
}

.navbar {
  background-color: #3b3939;
}

.nav-link {
  font-family: "Plopsec";
  font-size: 2em;
  color: #eee;
}

.nav-link:hover {
  color: #ea8625;
}

.jumbotron {
  background-color: transparent;
}

.mainpage-slot {
  font-family: "Helvetica";
  font-size: 1.2em;
}

.mainpage-slot p {
  text-align: justify;
}

a.anchor {
  display: block;
    position: relative;
    top: -64px;
    visibility: hidden;
}

#logo {
  padding-bottom: 90px;
  background-image: url('../img/city2.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#motto {
  padding-top: .5em;
  font-family: Helvetica;
  font-size: 3em;
  color: #efefef;
}
#meetus {
    display: inline;
}

#twitch {
  width: 80px;
  display: inline-block;
}

#origine {
  background-color: #dadada;
  padding-top: 50px;
  padding-bottom: 90px;
}

#format {
  background-color: #dadada;
}

#assister {
  background-color: #dadada;
}

#contribute {
  padding-top: 50px;
  background-color: #3b3939;
  color: #dadada;
  padding-bottom: 90px;
}

#cfp-exemple {
    background-color: #dadada;
    padding-top: 50px;
    padding-bottom: 40px;
}

#content {
  /*padding-top: 64px;*/
}

#origine-transition {
  /*border: solid #3b3939 10px;*/
  position: relative;
  top: -100px;
  background: #3b3939;
  color: #dadada;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  padding-left: 18px;
  padding-top: 14px;
  margin-right: auto;
  margin-left: auto;
  /*transform: rotate(15deg);*/
}

#origine-transition i {
  color: #dadada;
}

#contribuer-transition {
  /*border: solid #3b3939 10px;*/
  position: relative;
  top: -100px;
  background: #dadada;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  padding-left: 20px;
  padding-top: 26px;
  margin-right: auto;
  margin-left: auto;
  transform: rotate(-45deg);
  padding-bottom: 40px;
}

#contribuer-transition i {
  color: #333;
}


#example-transition {
  /*border: solid #3b3939 10px;*/
  position: relative;
  top: -100px;
  background: #3b3939;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  padding-left: 40px;
  padding-top: 26px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 40px;
}

#example-transition i {
  color: #dadada;
}
